<div class="col-2 sidebar bg-white text-dark">
    <div class="nav">
        <img src="{{dp}}" alt="Profile Avatar" height="100%" width="100%"><br>
        Welcome, {{userFirstName}}
    </div>
    <div>
        <ul class="bd-sidenav">
            <li class="nav bd-sidenav-active active">
                <a href="/users/{{id}}">Profile</a>
            </li>
            <li class="nav">
                <a href="/users/{{id}}/messages">Messages</a>
            </li>
            <li class="nav">
                <a href="/users/{{id}}/settings">Settings</a>
            </li>
        </ul>
    </div>
</div>