<div class="containr-fluid bg-light text-dark">
    <div class="row">
        <div class="col-2 sidebar bg-white text-dark">
            <div class="nav">
                <img src="{{dp}}" alt="Profile pic"><br>
                Welcome, {{userFirstName}}
            </div>
            <div>
                <ul class="bd-sidenav">
                    <li class="nav bd-sidenav-active active">
                       <a href="/users/{{id}}">Profile</a> 
                    </li>
                    <li class="nav">
                       <a href="/users/{{id}}/messages">Messages</a> 
                    </li>
                    <li class="nav">
                       <a href="/users/{{id}}/settings">Settings</a> 
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                    aria-labelledby="v-pills-profile-tab">Profile</div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    Messages</div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    Settings</div>
            </div>
        </div>
    </div>
</div>